USE [master]
GO
/****** Object:  Database [amrts_manager]    Script Date: 8/8/2025 6:41:39 PM ******/
CREATE DATABASE [amrts_manager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'amrts_manager', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\amrts_manager.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'amrts_manager_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\amrts_manager_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [amrts_manager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [amrts_manager]
GO
/****** Object:  Table [dbo].[invoice_items]    Script Date: 8/8/2025 6:41:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoice_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_id] [varchar](50) NOT NULL,
	[refFournisseur] [nvarchar](100) NOT NULL,
	[articles] [nvarchar](255) NOT NULL,
	[qte] [int] NOT NULL,
	[poids] [decimal](10, 2) NOT NULL,
	[puPieces] [decimal](10, 2) NOT NULL,
	[exchangeRate] [decimal](10, 2) NOT NULL,
	[mt] [decimal](10, 2) NOT NULL,
	[prixAchat] [decimal](10, 2) NOT NULL,
	[autresCharges] [decimal](10, 2) NOT NULL,
	[cuHt] [decimal](10, 2) NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoice_summary]    Script Date: 8/8/2025 6:41:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoice_summary](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_id] [varchar](50) NOT NULL,
	[factureNumber] [nvarchar](100) NOT NULL,
	[transit] [decimal](10, 2) NULL,
	[droitDouane] [decimal](10, 2) NULL,
	[chequeChange] [decimal](10, 2) NULL,
	[freiht] [decimal](10, 2) NULL,
	[autres] [decimal](10, 2) NULL,
	[total] [decimal](15, 2) NULL,
	[txChange] [decimal](10, 2) NULL,
	[poidsTotal] [decimal](10, 2) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoices]    Script Date: 8/8/2025 6:41:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoices](
	[id] [varchar](50) NOT NULL,
	[clientName] [nvarchar](255) NOT NULL,
	[invoiceNumber] [nvarchar](100) NOT NULL,
	[date] [nvarchar](100) NOT NULL,
	[isLocal] [bit] NULL,
	[totalAmount] [decimal](15, 2) NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 8/8/2025 6:41:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[full_name] [varchar](100) NOT NULL,
	[role] [varchar](20) NULL,
	[is_active] [bit] NULL,
	[last_login] [datetime] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_invoice_items_invoice_id]    Script Date: 8/8/2025 6:41:39 PM ******/
CREATE NONCLUSTERED INDEX [idx_invoice_items_invoice_id] ON [dbo].[invoice_items]
(
	[invoice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_invoice_summary_invoice_id]    Script Date: 8/8/2025 6:41:39 PM ******/
CREATE NONCLUSTERED INDEX [idx_invoice_summary_invoice_id] ON [dbo].[invoice_summary]
(
	[invoice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_invoices_client_name]    Script Date: 8/8/2025 6:41:39 PM ******/
CREATE NONCLUSTERED INDEX [idx_invoices_client_name] ON [dbo].[invoices]
(
	[clientName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_invoices_invoice_number]    Script Date: 8/8/2025 6:41:39 PM ******/
CREATE NONCLUSTERED INDEX [idx_invoices_invoice_number] ON [dbo].[invoices]
(
	[invoiceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_invoices_is_local]    Script Date: 8/8/2025 6:41:39 PM ******/
CREATE NONCLUSTERED INDEX [idx_invoices_is_local] ON [dbo].[invoices]
(
	[isLocal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_invoices_status]    Script Date: 8/8/2025 6:41:39 PM ******/
CREATE NONCLUSTERED INDEX [idx_invoices_status] ON [dbo].[invoices]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_users_email]    Script Date: 8/8/2025 6:41:39 PM ******/
CREATE NONCLUSTERED INDEX [idx_users_email] ON [dbo].[users]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_users_role]    Script Date: 8/8/2025 6:41:39 PM ******/
CREATE NONCLUSTERED INDEX [idx_users_role] ON [dbo].[users]
(
	[role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_users_username]    Script Date: 8/8/2025 6:41:39 PM ******/
CREATE NONCLUSTERED INDEX [idx_users_username] ON [dbo].[users]
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[invoice_items] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[invoice_summary] ADD  DEFAULT ((0)) FOR [transit]
GO
ALTER TABLE [dbo].[invoice_summary] ADD  DEFAULT ((0)) FOR [droitDouane]
GO
ALTER TABLE [dbo].[invoice_summary] ADD  DEFAULT ((0)) FOR [chequeChange]
GO
ALTER TABLE [dbo].[invoice_summary] ADD  DEFAULT ((0)) FOR [freiht]
GO
ALTER TABLE [dbo].[invoice_summary] ADD  DEFAULT ((0)) FOR [autres]
GO
ALTER TABLE [dbo].[invoice_summary] ADD  DEFAULT ((0)) FOR [total]
GO
ALTER TABLE [dbo].[invoice_summary] ADD  DEFAULT ((0)) FOR [txChange]
GO
ALTER TABLE [dbo].[invoice_summary] ADD  DEFAULT ((0)) FOR [poidsTotal]
GO
ALTER TABLE [dbo].[invoice_summary] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[invoice_summary] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[invoices] ADD  DEFAULT ((1)) FOR [isLocal]
GO
ALTER TABLE [dbo].[invoices] ADD  DEFAULT ((0.0)) FOR [totalAmount]
GO
ALTER TABLE [dbo].[invoices] ADD  DEFAULT (N'En cours') FOR [status]
GO
ALTER TABLE [dbo].[invoices] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[invoices] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('user') FOR [role]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[invoice_items]  WITH CHECK ADD FOREIGN KEY([invoice_id])
REFERENCES [dbo].[invoices] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[invoice_summary]  WITH CHECK ADD FOREIGN KEY([invoice_id])
REFERENCES [dbo].[invoices] ([id])
ON DELETE CASCADE
GO
USE [master]
GO
